// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css

$brand: #0083e9;
$dark: #051798;

$link: $brand;
$link-hover: $brand;

$success: #8dca1d;
$failure: #dd2c2c;
$notification: #00cc82;

$budget: #8043b9;
$featured: #ffcc5a;

$like: $success;
$unlike: $failure;

$check: $success;

$black: #000;
$white: #fff;

$success-bg: $success;
$success-border: $success;
$color-success: $white;

$alert-bg : $failure;
$alert-border: $failure;
$color-alert: $white;
$proposals: $brand;

$info-bg: $notification;
$info-border: $notification;
$color-info: $white;


$admin-color: $brand;
$sidebar: $brand;
$sidebar-hover: $dark;
$sidebar-active: $featured;