// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.round {
  border-radius: 2px;
}

.mt-3 {
  margin-top: 1rem;
}

.callout {
  padding: 0.5rem;
}

.button.hollow{
  border-color: $brand;
  color: $brand;

  &:hover{
    border-color: $white;
    color: $white;
    background: $brand;
  }

  &.alert{
    &:hover{
      border-color: $white;
      color: $white;
      background: $failure;
    }
  }
}
